@model FormViewModel
@{
    ViewData["Title"] = "Contact us!";
}

<div class="d-flex justify-content-between">
    <h1 classs="display-4">Contact</h1>
    <form method="post" class="col-10 col-xl-6" novalidate>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <small class="text-danger"><span asp-validation-for="FirstName"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <small class="text-danger"><span asp-validation-for="LastName"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" class="form-control" />
            <small class="text-danger"><span asp-validation-for="Email"></span></small>
        </div>

        <div class="mb-3">
            <label asp-for="FormMessage" class="form-label">Form</label>
            <input asp-for="FormMessage" class="form-control" />
            <small class="text-danger"><span asp-validation-for="FormMessage"></span></small>
        </div>

        <div class="mt-5">
            <div class="d-grid">
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </div>
        </div>


    </form>
</div>